:root {
    --text-color: #000000;
    --background-color: #c0c0c0;
    --font-size: 0.7vh;
    --hover-color: #bdbdbd;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: none !important;
    font-family: "Roboto", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: none;
}

#qbcore-inventory {
    width: 100%;
    height: 100%;
    display: none;
}

.inv-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.player-inv-info {
    position: absolute;
    top: 23%;
    left: 14.1%;
    width: 28%;
    height: fit-content;
    float: left;
    font-weight: bolder;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

#player-inv-progressbar {
    height: 5px;
    top: 25.5%;
    left: 14.2%;
    width: 27.8%;
    position: absolute;
    transition: width 0.2s;
    background-color: #2d2d2d;
}

.other-inv-info {
    position: absolute;
    top: 23%;
    right: 14.3%;
    width: 28%;
    height: fit-content;
    float: left;
    font-weight: bolder;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

#other-inv-progressbar {
    position: absolute;
    top: 25.5%;
    width: 27.8%;
    right: 14.4%;
    height: 5px;
    transition: width 0.2s;
    background-color: #2d2d2d;
}

.ui-progressbar.ui-widget.ui-widget-content {
    border: none;
}

.ui-progressbar.ui-widget-content {
    border: none;
}

.ui-progressbar .ui-widget-header {
    border: none;
}

.ui-progressbar-value {
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}

.ui-progressbar .ui-progressbar-value {
    background-color: green;
}

.ui-progressbar-medium .ui-progressbar-value {
    background-color: yellow;
}

.ui-progressbar-high .ui-progressbar-value {
    background-color: red;
}

.player-inventory {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    position: absolute;
    top: 26%;
    left: 14.2%;
    width: 28%;
    height: 47.16%;
    float: left;
    overflow-y: auto;
}

.other-inventory {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    position: absolute;
    top: 26%;
    right: 14.2%;
    width: 28%;
    height: 47.16%;
    float: left;
    overflow-y: auto;
}

.item-slot {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(20% - 1.5px);
    margin: 0.5px;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.item-slot-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.item-slot-img img {
    width: 50%;
    height: auto;
}

.item-slot-key {
    font-weight: bolder;
    color: var(--text-color);
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
}

.item-slot-key p {
    margin: 0;
}

.item-slot-amount {
    font-size: var(--font-size);
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
}

.item-slot-label {
    position: absolute;
    white-space: nowrap;
    bottom: 0;
    height: 1vh;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-slot-label p {
    margin: 0;
    font-size: var(--font-size);
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: bolder;
}

.item-slot-quality {
    position: absolute;
    bottom: 1vh;
    width: 100%;
    height: 4px;
    background-color: #2d2d2d;
}

.item-slot-quality-bar {
    height: 4px;
}

.inv-options {
    position: absolute;
    width: 10%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inv-options-list {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.inv-option-item {
    width: 100%;
    margin: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 3vh;
    font-weight: bolder;
    color: var(--text-color);
    background-color: var(--background-color);
}

#item-use p,
#item-give p,
#inv-close p,
#weapon-attachments p {
    margin: 0;
}

.ply-iteminfo-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 67%;
    left: 50%;
    width: 15vw;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    background-color: var(--background-color);
    border-radius: 5px;
}

.weapon-attachments-container {
    width: 100%;
    height: 100%;
    display: none;
}

.weapon-attachments-container-title {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
}

.weapon-attachments-container-description {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vh;
}

.weapon-attachments-container-details {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.weapon-attachments-container-detail-durability {
    height: 1.5vh;
    width: 10vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1px;
}

.weapon-attachments-container-detail-durability-total {
    height: 100%;
    width: 50%;
    background-color: rgb(39, 174, 96);
}

.weapon-attachments-container-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.weapon-attachments-title {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.weapon-attachments {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 30vw;
    transform: translateX(-50%);
    padding-bottom: 3vh;
}

.weapon-attachments-remove {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
}

.weapon-attachments-remove > i {
    color: var(--text-color);
    font-size: 2vh;
    padding: 1vh;
}

.weapon-attachments-remove:hover {
    background-color: var(--hover-color);
}

.weapon-attachments-back {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10vh;
    height: 6vh;
    margin: 5vh;
    color: var(--text-color);
    text-align: center;
    line-height: 6vh;
    background-color: var(--background-color);
    transition: 0.05s linear;
}

.weapon-attachments-back:hover {
    background-color: var(--hover-color);
}

.combine-option-container {
    display: none;
    position: absolute;
    width: 10%;
    top: 58%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.CombineItem p,
.SwitchItem p {
    margin: 0;
}

.itemboxes-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 30vw;
    transform: translateX(-50%);
    padding-bottom: 3vh;
}

.requiredItem-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 30vw;
    transform: translateX(-50%);
    padding-bottom: 3vh;
}

.z-hotbar-inventory {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 30vw;
    transform: translateX(-50%);
    padding-bottom: 3vh;
}
